//color themes
$color1: #EAE5E7;
$color2: #BAA7B0;
$color3: #98dfea;
$color4: #23b5d3;
$color5: #071013;
//fonts
$font1: 2em arial,
sans-serif;
$font2: 1.5em arial,
sans-serif;
$font3: 1em sans-serif;
$font4: .6em sans-serif;
//error colors
$color-success: green;
$color-warning: orange;
$color-error: red;
$panelWidth: calc((100vw - 180px - 90vh) / 2);
$panelWidthSimple: calc((100vw - 30px - 90vh) / 2);