.zoom {
    .button {
        width: calc(100% / 8);
        height: 40px;
        display: inline-block;
        margin: 4px;
        background-color: $color3;
        font: $font3;
        &.selected {
            background-color: darken($color3, 20%);
        }
    }
}